[init]
	defaultBranch = main

[user]
    email = abdounikarim@gmail.com
    name = Abdouni Abdelkarim
    signingkey = CFF6DB5A7659EBFF

[tag]
    gpgsign = true

[commit]
    gpgsign = true

[color]
	ui = true

[push]
    default = current

[help]
	autocorrect = prompt

[rerere]
    enabled = true

[core]
    excludesfile = ~/.gitignore
    whitespace = trailing-space
	autocrlf = input
	eol = lf
    pager = delta

[branch]
	sort = committerdate

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	unstage = reset HEAD --
	aliases = config --get-regexp alias
